{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li><a href="{{ path('autre') }}">autre</a></li>
    </ul>
    <p id="ac2" class="text-primary">Cool !</p>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('click', '#ac2', function () {
            alert($(this).text());
        });
    </script>
{% endblock %}